@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772ff;
$color-form-highlight: #eeeeee;

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	padding: $base-spacing-unit;
	font-family: "Source Sans Pro", sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	/* max-width: 1000px; */
	/* margin-right: auto; */
	/* margin-left: auto; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* min-height: 100vh; */
}

.table {
	/* width: 100%; */
	border: 1px solid rgb(147, 255, 47);
}

.table-header {
	display: flex;
	/* width: 100%; */
	background: rgb(13, 114, 80);
	padding: (10 * 1.5) 0;
}

.table-row {
	display: flex;
	width: 100%;
	padding: ($half-spacing-unit * 1.5) 0;

	&:nth-of-type(odd) {
		background: $color-form-highlight;
	}
}

.table-data,
.header__item {
	flex: 1 1 20%;
	text-align: center;
}

.header__item {
	text-transform: uppercase;
}

.filter__link {
	color: white;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding-left: $base-spacing-unit;
	padding-right: $base-spacing-unit;

	&::after {
		content: "";
		position: absolute;
		right: -($half-spacing-unit * 1.5);
		color: white;
		font-size: $half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}

	&.desc::after {
		content: "(desc)";
	}

	&.asc::after {
		content: "(asc)";
	}
}
