
<p>Drag the p element back and forth between the two rectangles:</p>

<div class="droptarget" (ondrop)="drop($event)" (ondragover)="allowDrop($event)">
  <p (ondragstart)="dragStart($event)" (ondragend)="dragEnd($event)" [draggable]="true" id="dragtarget">Drag me!</p>
</div>

<div class="droptarget" (ondrop)="drop($event)" (ondragover)="allowDrop($event)"></div>

<p style="clear:both;"><strong>Note:</strong> drag events are not supported in Internet Explorer 8 and earlier versions or Safari 5.1 and earlier versions.</p>